@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-pop-zoom {
  animation: popZoom 5s ease-in-out infinite, 1s ease-in-out infinite;
  transform-origin: center;
}
